body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to right, #537D5D, #73946B, #9EBC8A, #D2D0A0);
    padding: 100px;
    color: green;
  }
  input {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  button {
    padding: 10px 20px;
    font-size: 24px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 40px;
    cursor: pointer;
  }
  #weatherResult {
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
  }